<div class="change-password-modal" [class.rtl]="isRTL" [attr.dir]="isRTL ? 'rtl' : 'ltr'">
  <h2 [class.arabic-font]="isRTL">{{ "auth.changePassword.title" | translate }}</h2>
  <form [formGroup]="passwordForm">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label class="text-field" [class.arabic-font]="isRTL">{{ "auth.changePassword.oldPassword" | translate }}</mat-label>
      <input
        matInput
        type="password"
        formControlName="oldPassword"
        [class.arabic-font]="isRTL"
        autocomplete="current-password" />
      <mat-icon matPrefix>lock</mat-icon>
      <mat-error *ngIf="getFieldError('oldPassword')" [class.arabic-font]="isRTL">
        {{ getFieldError('oldPassword')! | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label class="text-field" [class.arabic-font]="isRTL">{{ "auth.changePassword.newPassword" | translate }}</mat-label>
      <input
        matInput
        type="password"
        formControlName="newPassword"
        [class.arabic-font]="isRTL"
        autocomplete="new-password" />
      <mat-icon matPrefix>lock_outline</mat-icon>
      <mat-error *ngIf="getFieldError('newPassword')" [class.arabic-font]="isRTL">
        {{ getFieldError('newPassword')! | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label class="text-field" [class.arabic-font]="isRTL">{{ "auth.changePassword.confirmPassword" | translate }}</mat-label>
      <input
        matInput
        type="password"
        formControlName="confirmPassword"
        [class.arabic-font]="isRTL"
        autocomplete="new-password" />
      <mat-icon matPrefix>verified_user</mat-icon>
      <mat-error *ngIf="getFieldError('confirmPassword')" [class.arabic-font]="isRTL">
        {{ getFieldError('confirmPassword')! | translate }}
      </mat-error>
    </mat-form-field>

    <div class="modal-actions">
      <button mat-button type="button" (click)="onCancel()" [class.arabic-font]="isRTL">
        {{ "common.cancel" | translate }}
      </button>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="onSubmit()"
        [disabled]="passwordForm.invalid || isSubmitting"
        [class.arabic-font]="isRTL">
        <mat-icon *ngIf="isSubmitting">hourglass_empty</mat-icon>
        <mat-icon *ngIf="!isSubmitting">lock_reset</mat-icon>
        {{ isSubmitting ? ("common.saving" | translate) : ("auth.changePassword.submit" | translate) }}
      </button>
    </div>
  </form>
</div>
