<div class="change-password-modal" [class.rtl]="isRTL" [attr.dir]="isRTL ? 'rtl' : 'ltr'">
  <h2 [class.arabic-font]="isRTL">{{ "auth.changePassword.title" | translate }}</h2>
  <form [formGroup]="passwordForm">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label class="text-field" [class.arabic-font]="isRTL">{{ "auth.changePassword.oldPassword" | translate }}</mat-label>
      <input
        matInput
        [type]="isOldPasswordVisible ? 'text' : 'password'"
        formControlName="oldPassword"
        [class.arabic-font]="isRTL"
        autocomplete="current-password" />
        @if (!isRTL) {
          <mat-icon matPrefix>lock</mat-icon>
        }
        @if (isRTL) {
          <mat-icon matSuffix>lock</mat-icon>
        }
        <button mat-icon-button matSuffix type="button" tabindex="-1" (click)="toggleOldPasswordVisibility()">
          <mat-icon>{{ isOldPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if (getFieldError('oldPassword')) {
          <mat-error [class.arabic-font]="isRTL">
            {{ getFieldError('oldPassword')! | translate }}
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label class="text-field" [class.arabic-font]="isRTL">{{ "auth.changePassword.newPassword" | translate }}</mat-label>
        <input
          matInput
          [type]="isNewPasswordVisible ? 'text' : 'password'"
          formControlName="newPassword"
          [class.arabic-font]="isRTL"
          autocomplete="new-password" />
          @if (!isRTL) {
            <mat-icon matPrefix>lock_outline</mat-icon>
          }
          @if (isRTL) {
            <mat-icon matSuffix>lock_outline</mat-icon>
          }
          <button mat-icon-button matSuffix type="button" tabindex="-1" (click)="toggleNewPasswordVisibility()">
            <mat-icon>{{ isNewPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          @if (getFieldError('newPassword')) {
            <mat-error [class.arabic-font]="isRTL">
              {{ getFieldError('newPassword')! | translate }}
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label class="text-field" [class.arabic-font]="isRTL">{{ "auth.changePassword.confirmPassword" | translate }}</mat-label>
          <input
            matInput
            [type]="isConfirmPasswordVisible ? 'text' : 'password'"
            formControlName="confirmPassword"
            [class.arabic-font]="isRTL"
            autocomplete="new-password" />
            @if (!isRTL) {
              <mat-icon matPrefix>verified_user</mat-icon>
            }
            @if (isRTL) {
              <mat-icon matSuffix>verified_user</mat-icon>
            }
            <button mat-icon-button matSuffix type="button" tabindex="-1" (click)="toggleConfirmPasswordVisibility()">
              <mat-icon>{{ isConfirmPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            @if (getFieldError('confirmPassword')) {
              <mat-error [class.arabic-font]="isRTL">
                {{ getFieldError('confirmPassword')! | translate }}
              </mat-error>
            }
          </mat-form-field>

          <div class="modal-actions">
            <button mat-button type="button" (click)="onCancel()" [class.arabic-font]="isRTL">
              {{ "common.cancel" | translate }}
            </button>
            <button
              mat-raised-button
              color="primary"
              type="button"
              (click)="onSubmit()"
              [disabled]="passwordForm.invalid || isSubmitting"
              [class.arabic-font]="isRTL">
              @if (isSubmitting) {
                <mat-icon>hourglass_empty</mat-icon>
              }
              @if (!isSubmitting) {
                <mat-icon>lock_reset</mat-icon>
              }
              {{ isSubmitting ? ("common.saving" | translate) : ("auth.changePassword.submit" | translate) }}
            </button>
          </div>
        </form>
      </div>
